.history__wrapper
  .history
    .history__title
      = @genre.name
      一覧
    .genre_left
      タイトル
      .genre_right_1
        価格
      .genre_right_2
        利益率
    -@products.each do |product|
      -product.each do |product|
        .histories
          = product.title.truncate(14,omission:"...")
          .created_at
            = product.profit
          .price
            = product.price
            円